{{ $email := promptStringOnce . "email" "Email address" -}}
{{ $google_drive := promptStringOnce . "google_drive" "Path to Google Drive" -}}

{{$osid := .chezmoi.os -}}
{{if hasKey .chezmoi.osRelease "id" -}}
{{  $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{end -}}

{{$keepassdb := printf "%s/drautb.kdbx" $google_drive}}

[data]
  email = {{ $email | quote }}
  osid = {{ $osid | quote }}
  google_drive = {{ $google_drive | quote }}

[keepassxc]
  database = {{ $keepassdb | quote }}
