{{ if eq .osid "darwin" -}}

#!/usr/bin/env bash

# macOS specific setup

set -eux

if ! command -v brew; then
  echo "Installing homebrew..."
  set +x
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  set -x
fi

function brew_install {
  if ! command -v $1; then
    brew install $1
  fi
}

brew_install pass
brew_install git
brew_install htop
brew_install imagemagick
brew_install jq
brew_install pyenv
brew_install tmux
brew_install tree
brew_install task

{{ end -}}
