#!/usr/bin/env bash

# Login to atuin for syncing shell history

set -eu

echo "Atuin login..."
atuin login -u {{ pass "atuin/username" }} -p {{ pass "atuin/password" }} -k {{ pass "atuin/key" }}

atuin import auto
atuin sync
