{{ if eq .osid "linux-amzn" -}}

#!/usr/bin/env bash

# Amazon Linux specific setup

set -eux

sudo yum update

sudo yum install -y zsh \
  tmux \
  htop \
  vim \
  git \
  curl \
  wget \
  util-linux-user

if [[ ! "$SHELL" =~ "zsh" ]]; then
  chsh -s "$(command -v zsh)"
fi

{{ end -}}
